body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

header {
    background-color: #0174DF;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header img {
    width: 50px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}

header h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    margin: 0;
}

main {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1000px;
    margin-top: 30px;
    text-align: center;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #0174DF;
    color: white;
}

.filter-container {
    margin-bottom: 20px;
    text-align: left;
}

.filter-container input {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    background-color: #0174DF;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px 0;
    font-size: 16px;
    border-radius: 4px;
}

button:hover {
    background-color: #0174DF;
}

button.btn-back {
    background-color: #0174DF;
}

button.btn-back:hover {
    background-color: #005BB5;
}

button.btn-delete {
    background-color: #f44336;
}

button.btn-delete:hover {
    background-color: #e31e10;
}

@media (max-width: 600px) {
    header h1 {
        font-size: 18px;
    }

    button {
        width: 100%;
    }
}
