body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

header {
    background-color: #0174DF;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header img {
    width: 50px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}

header h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    margin: 0;
}

main {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin-top: 30px;
    text-align: center;
}

#feedback {
    padding: 10px;
    margin-bottom: 20px;
    display: none;
}

#feedback.success {
    background-color: #dff0d8;
    color: #3c763d;
}

#feedback.error {
    background-color: #f2dede;
    color: #a94442;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    align-self: flex-start;
}

input, select, button {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #0174DF;
    color: white;
    border: none;
    cursor: pointer;
    width: auto;
    padding: 10px 20px;
}

button:disabled {
    background-color: #ccc;
}

button:hover:not(:disabled) {
    background-color: #0174DF;
}

button.btn-view-appointments,
button#delete-today-appointments,
button.export-import-btn {
    background-color: #0174DF;
    margin-bottom: 10px;
}

button.btn-view-appointments:hover,
button#delete-today-appointments:hover,
button.export-import-btn:hover {
    background-color: #005BB5;
}

.btn-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btn-group button {
    margin: 5px 0;
}

@media (min-width: 600px) {
    .btn-group {
        flex-direction: row;
        justify-content: space-between;
    }

    .btn-group button {
        flex: 1;
        margin: 5px;
    }
}
